.tours {
    margin-bottom: 139px;
}
.tours__tour {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 108px;
    align-items: center;
    margin-bottom: 77px;
}

.tour__info {
    padding-left: 47px;
}
.tour__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 133%;
    margin-bottom: 85px;
}
.tour__discription {
    line-height: 150%;
    margin-bottom: 58px;
}

.tour__more {
    display: inline-block;
    line-height: 150%;
    color: #006DFE;
    padding-right: 59px;
    background: url(../img/Shape.png) no-repeat right center;
}

.tour__more:hover , .tour__more:focus {
    opacity: .65;
} 

@media screen and (max-width: 960px) {
    .tours__tour {
        grid-column-gap: 58px;
        margin-bottom: 57px;
    }
    .tour__info {
        padding-left: 37px;
    }
    .tour__title {
        font-size: 28px;
        margin-bottom: 65px;
    }
    .tours {
        margin-bottom: 75px;
    }
}

@media screen and (max-width: 768px) {
    .tours__tour {
        grid-column-gap: 25px;
        margin-bottom: 25px;
    }
    .tour__info {
        padding-left: 27px;
    }
    .tour__title {
        font-size: 24px;
        margin-bottom: 45px;
    }
}

@media screen and (max-width: 560px) {
    .tours {
        margin-bottom: 15px;
    }
    .tour__info {
        padding-left: 15px;
    }
    .tour__img , .tour__info {
        grid-column: span 2;
        margin-bottom: 25px;
    }
    .tour__title {
        font-size: 20px;
        margin-bottom: 25px;
    }
    .tour__discription {
        line-height: 120%;
        margin-bottom: 38px;
    }
    .tour__img_mob-first {
        grid-row-start: -1;
    }
}

