.tours {
    margin-bottom: 139px;
}
.tours__tour {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 108px;
    align-items: center;
    margin-bottom: 77px;
}
.tour {
}
.tour__img {
}
.tour__thumb {
}
.tour__info {
    padding-left: 47px;
}
.tour__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 133%;
    margin-bottom: 85px;
}
.tour__discription {
    line-height: 150%;
    margin-bottom: 58px;
}

.tour__more {
    display: inline-block;
    line-height: 150%;
    color: #006DFE;
    padding-right: 59px;
    background: url(../img/Shape.png) no-repeat right center;
}

.tour__more:hover , .tour__more:focus {
    opacity: .65;
} 